@model UserViewModel
@{
    ViewData["Title"] = "View";
}

<form asp-action="Create">
    <div class="row">
        <div class="col-4">
            <label asp-for="User.FirstName"></label>
            <input asp-for="User.FirstName" class="form-control">
        </div>
        <div class="col-4">
            <label asp-for="User.LastName"></label>
            <input asp-for="User.LastName" class="form-control">
        </div>
        <div class="col-4">
            <label asp-for="User.Email"></label>
            <input asp-for="User.Email" class="form-control">
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-6">
            <label asp-for="User.BirthDate"></label>
            <input asp-for="User.BirthDate" class="form-control">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <button type="submit" class="btn  btn-primary">Salvar</button>
        </div>
    </div>
</form>